{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}

{% endblock %}

{% block div%}

<!-- banner image -->
<div class="content text-center">
  <p class="main-font">Empowering Your Financial Journey</p><br><br>
  <p class="second-font">CashFlow revolutionizing the way individuals and businesses manage their finances. <br> We empower our clients to take control of their financial lives with ease and efficiency.</p>
</div>
</div>

<!-- main content area  -->
<p class="para1">At CashFlow, we understand the importance of <br> maintaining a clear picture of your expenses.</p>

<div class="card border-primary mb-3 center-card" style="max-width: 40rem;">
  <div class="card-header">About Us</div>
  <div class="card-body">
    <p class="card-text">Our platform is tailored to meet the needs of both individuals and businesses, offering a seamless experience regardless 
      of your financial situation. With CashFlow, you can effortlessly record and categorize expenses, set budgets, and gain valuable insights into 
      your spending habits. <br><br> Our intelligent algorithms analyze your transaction data to provide you with customized reports, visualizations, and 
      recommendations, helping you make informed financial decisions.br <br><br> Security and privacy are of utmost importance to us at CashFlow. 
      We employ state-of-the-art encryption and data protection measures to ensure that your personal and financial information remains 
      secure at all times.br <br><br> Our platform adheres to the highest industry standards and undergoes regular audits and security checks to maintain 
      the integrity of your data.</p>
  </div>
</div>
<br><br><br><br>

{% endblock %}